*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Notable";
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background: #9e0000;
}

.container {
    max-width: 130rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.sombra {
    font-size: clamp(6rem, 12vw, 12rem);
    color: #fcf7d3;
    padding: 2rem 0;
    text-shadow: 5px 12px 5px rgba(209, 209, 205, 0.5);
}

#tranding {
    padding: 4rem 0;
}

.tranding-slider {
    padding: 3rem 0;
    position: relative;
}

.tranding-slide {
    width: min(35rem, 90vw);
    height: min(45rem, 120vw);
    position: relative;
}

.tranding-slide .tranding-slide-img img {
    width: 100%;
    height: 90%;
    border-radius: 2.5rem;
    object-fit: cover;
}

.tranding-slider-control {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tranding-slider-control .slider-arrow {
    background-color: #5f0600;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #fcf7d3;
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    background-color: #fcf7d3;
}

@media (max-width: 768px) {
    .tranding-slider-control {
        flex-wrap: wrap;
    }
}