body{
    background-color: #5f0600;
}

.container{
    padding: 3em;
    margin: 15em 30em;
    background-color: #fcf7d3;
    border-radius: 20px;

}

h1{
    font-family: "Notable";
    color: #5f0600;
    font-size: 2em;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
}

p{
    font-family: "Abril Fatface";
    color: #5f0600;
    font-size: 1.4em;
    text-align: center;
}

a{
    text-decoration: underline;
    color: #9e0000;
}