*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #9e0000;
}

#quadro{
    background-color: #5f0600;
    width: 26.5em;
    height: 40em;
    margin: 7em 13em;
    border-radius: 20px;
}

button{
    padding: 2em 5em;
    margin: 3em -43em;
    background-color: #fcf7d3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button a{
    font-family: "Abril Fatface";
    font-weight: bold;
    font-size: 20px;
    color: #5f0600;
}

button a:hover {
    text-decoration: underline;
}


h1{
    font-family: "Notable", sans-serif;
    color: #fcf7d3;
    text-shadow: 5px 12px 5px rgba(209, 209, 205, 0.5);
    font-size: 4.5em;
    padding: 2.5em 0 0 5em;
    position: absolute;
    top: -1em;
    left: 4em;

}

p{
    font-family: "Abril Fatface";
    color: rgb(252, 247, 211);
    font-size: 3em;
    padding: 2.5em 0 0 5em;
}

#tamanho{
    position: absolute;
    top: 3em;
    left: 9em;
}

#material{
    position: absolute;
    top: 5em;
    left: 9em;
}

#preco{
    position: absolute;
    top: 7em;
    left: 9em;
}